{% extends 'base.html' %}

{% block customCSS %}
{% endblock %}

<!-- Contenido -->
{% block body %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card card-body">
            <form action="/update_sucursal/{{ data.ID_sucursal }}" method="POST">
                <div class="form-group mb-3">
                    <input type="text" name="nombre" class="form-control" id="nombre" value="{{data.nombre}}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="direccion" class="form-control" id="direccion" value="{{data.direccion}}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" name="telefono" class="form-control" id="telefono" value="{{data.telefono}}">
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-primary btn-block">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}