{% extends 'base.html' %}

{% block customCSS %}
<style>
    body {
        background: linear-gradient(to right, #00bfff, #000);
        color: #fff;
        font-family: "Arial", sans-serif;
    }

    .title {
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .form-container {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 10px;
    }

    .form-container label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .form-container input[type="text"],
    .form-container select {
        background-color: rgba(255, 255, 255, 0.7);
        color: #333;
        border: none;
        padding: 5px;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 100%;
        max-width: 200px; /* Ajustar el ancho máximo de los campos de texto */
    }

    .form-container .btn-curved {
        width: auto; /* Ajustar el ancho automáticamente */
    }

    .form-container button[type="submit"] {
        background-color: #4286f4;
        color: #fff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 50px; /* Estilo curvo del botón */
    }

    .card {
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        color: #fff;
    }

    .btn-primary {
        background-color: #4286f4;
        color: #fff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 50px;
        margin-bottom: 10px;
    }

    .btn-danger {
        background-color: #f44336;
        color: #fff;
        border: none;
        padding: 8px 16px;
        cursor: pointer;
        border-radius: 20px;
        font-weight: bold;
        font-size: 14px;
        margin-top: 10px;
        border-radius: 50px;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Empleados</h1>

    <h3>BUSCAR EMPLEADO:</h3>
    <form action="/buscar_empleado" method="POST">
        Correo: <input type="text" name="correo" placeholder="Correo del empleado">
        <button type="submit">BUSCAR</button>
    </form>

    <h3>EMPLEADOS:</h3>
    {% for empleado in miData %}
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <p>ID: {{ empleado.ID_empleado }}</p>
        <p>Nombre: {{ empleado.nombre }}</p>
        <p>Apellido: {{ empleado.apellido }}</p>
        <p>Dirección: {{ empleado.direccion }}</p>
        <p>Teléfono: {{ empleado.telefono }}</p>
        <p>Email: {{ empleado.email }}</p>
        <p>Fecha de contrato: {{ empleado.contrato_fecha }}</p>
        <p>Número de sucursal: {{ empleado.ID_sucursal }}</p>
        <div>
            <a href="/editar_empleado/{{ empleado.ID_empleado }}" class="btn btn-primary">Editar</a>
            <form action="/borrar_empleado/{{ empleado.ID_empleado }}" method="POST" style="display: inline-block;">
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>

            <a href="/empleados_vender/{{ empleado.ID_empleado }}" class="btn btn-primary">Vender</a>
            <a href="/empleados_venta/{{ empleado.ID_empleado }}" class="btn btn-primary">Ventas realizadas</a>
        </div>
    </div>
    {% endfor %}

{% endblock %}
